@page "/LastFmConnect"

@attribute [Authorize]

<p>Connecting to Last.FM...</p>

@code 
{
    [Inject] public IDispatcher Dispatcher { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    private Uri CurrentUri => NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

    protected override void OnParametersSet()
    {
        if (QueryHelpers.ParseQuery(CurrentUri.Query).TryGetValue("token", out var token))
        {
            Dispatcher.Dispatch(new LastFmFetchTokenResult(token));
        }
    }
}