@page "/LastFmConnect"

@using Cadenza.Web.Core.App
@using Microsoft.AspNetCore.WebUtilities

<p>Connecting to Last.FM...</p>

@code 
{
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public IStoreSetter Store { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    private Uri CurrentUri => NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

    protected override async Task OnParametersSetAsync()
    {
        if (QueryHelpers.ParseQuery(CurrentUri.Query).TryGetValue("token", out var token))
        {
            await Store.SetValue(StoreKey.LastFmToken, token.SingleOrDefault());
        }

        await CloseTab();
    }

    public async Task CloseTab()
    {
        await JSRuntime.InvokeAsync<object>("close");
    }
}