@page "/LastFmConnect"

<p>Connecting to Last.FM...</p>

@code 
{
    [Inject] public IDispatcher Dispatcher { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    [SupplyParameterFromQuery]
    [Parameter]
    public string token { get; set; }

    private Uri CurrentUri => NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

    protected override void OnParametersSet()
    {
        Dispatcher.Dispatch(new LastFmFetchTokenResult(token));
    }
}