@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.mud-typography-body1 {
    font-size: 12px;
}

/*a, .btn-link {
    color: #ffffff;
}
*/
/*.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.mud-icon-button {
    flex: auto;
}

.mud-button-group-root.mud-button-group-override-styles.mud-button-group-filled.mud-button-group-filled-size-medium.mud-button-group-horizontal {
    width: 100%;
}

img.artwork {
    width: 100%;
    height: auto;
}

img.artist {
    width: 100%;
    height: auto;
}

.mud-menu .mud-icon-button {
    padding: 0;
    margin: 0;
}

table tbody tr td .show-on-hover {
    display:none;
}

.mud-list-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.mud-list-item-gutters {
    padding-top: 8px;
    padding-bottom: 8px;
}

/*.mud-dynamic-tabs .mud-tabs-toolbar .mud-tab.mud-tab-fixed .mud-icon-button {
    display: none;
}*/

.mud-tab {
    min-width: 40px;
}

/*remove margin at top of textarea inputs*/
.textarea.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: 0;
}

.mud-dialog .mud-dialog-content {
    padding-top:0;
    padding-bottom: 0;
}

.mud-dialog .mud-dialog-actions .mud-paper {
    padding: 0 0.5rem;
}

/*remove button for creating new tabs*/
.mud-tabs-header.mud-tabs-header-after {
    display: none !important;
}

table tbody tr td {
    padding: 1rem;
}

table tbody tr td.td-int,
table tbody tr td.td-icon,
table tbody tr td.td-datetime {
    text-align: right;
    width: 1px;
}

table tbody tr td.td-img {
    width: 1px;
    padding: 1rem 1rem 0 1rem;
}