/* MudBlazor breakpoints */
html {
  max-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
}

body {
  max-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
  padding: 0;
}

.mud-drawer.mud-drawer-fixed.mud-drawer-responsive {
  top: 0;
  height: 100%;
}

.fixed-height {
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.fixed-height-scroll {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

#app,
div.mud-main-content,
div.mud-tabs {
  max-height: 100%;
  height: 100%;
}

div.mud-tabs-panels {
  max-height: 100%;
}

@media (min-width: 600px) {
  div.mud-tabs-panels {
    height: 100%;
  }
}
.main-tabs {
  width: 100%;
  height: 100%;
}

.main-tabs > .mud-tabs-toolbar {
  display: none;
}

div.tab-grid {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

@media (min-width: 600px) {
  div.tab-grid {
    padding: 0.5rem;
  }
}
@media (min-width: 960px) {
  div.tab-grid {
    max-height: 100%;
    overflow-y: hidden;
  }
}
div.tab-grid-col {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media (min-width: 600px) {
  div.tab-grid-col {
    padding: 0 0.5rem;
  }
}
@media (min-width: 960px) {
  div.tab-grid-col {
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
  }
}
div.tab-grid-row {
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  div.tab-grid-row {
    padding: 0.5rem 0;
  }
}
div.sub-grid {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.sub-grid-col {
  padding: 0;
  height: 100%;
}

@media (min-width: 600px) {
  div.sub-grid-col {
    padding: 0 0.5rem;
  }
  div.sub-grid-col:first-of-type {
    padding: 0 0.5rem 0 0;
  }
  div.sub-grid-col:last-of-type {
    padding: 0 0 0 0.5rem;
  }
}
div.sub-grid-col:only-of-type {
  padding: 0;
}

div.sub-grid-row {
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  div.sub-grid-row {
    padding: 0.5rem 0;
  }
  div.sub-grid-row:first-of-type {
    padding: 0 0 0.5rem 0;
  }
  div.sub-grid-row:last-of-type {
    padding: 0.5rem 0 0 0;
  }
}
div.sub-grid-row:only-of-type {
  margin: 0;
  padding: 0;
  max-height: 100%;
  height: 100%;
}

div.container-max-width-sm {
  max-width: 600px;
  padding: 0 2rem;
  margin: 0 auto 2rem auto;
}

.mud-dialog {
  max-height: calc(100% - 64px);
}
.mud-dialog.fixed-height {
  height: calc(100% - 64px);
}
.mud-dialog.no-padding-xs .mud-dialog-content {
  padding-left: 0;
  padding-right: 0;
}
.mud-dialog .mud-dialog-content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mud-dialog .mud-dialog-content textarea {
  max-height: 300px;
}

@media (min-width: 600px) {
  .mud-dialog.fixed-height {
    height: unset;
  }
  .mud-dialog.no-padding-xs .mud-dialog-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mud-dialog .mud-dialog-content textarea {
    max-height: unset;
  }
}
