@if (IncludeSeparator)
{
    <li aria-hidden="true" class="mud-breadcrumb-separator mud-ltr mud-flip-x-rtl">
        <span>/</span>
    </li>
}
<li class="mud-breadcrumb-item">
    <MudLink Typo="@Typo.body1" OnClick="@(() => ClickAction())" Color="@Color.Surface">
        @Name
    </MudLink>
</li>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public bool IncludeSeparator { get; set; }
    [Parameter] public Action ClickAction { get; set; }
}
